body {
    font-family:sans-serif;
} 
h1{
    text-align: center;
}
.logo{
   display: block;
  margin: 0 auto;
}
a{
text-decoration: none;
color:black;
}
footer{
  background-color: #9D9D9D;
  color:white;
  font-size: 25px;
}
.nomer::before{
  content: url(https://learn.logikaschool.com/uploads/student/2493502/687fac51e3dc9.png);
}
.inst::before{
  content: url(https://learn.logikaschool.com/uploads/student/2493502/687fac9f50300.png);
}
.face::before{
  content: url(https://learn.logikaschool.com/uploads/student/2493502/687facd051793.png);
}

footer img.gap {
  float: right;
  margin-left: 20px; 
}
section{
  position: static;
}
p,li{
  font-size: 20px;
}
.gap{
  border-radius: 60px;
}
a:hover{
  color: rgb(171, 171, 171);
  transition: 0.3s;
}
.kaskol{
  padding-left:30px;
}
.gap{
  background-color: #9D9D9D;
  padding-right:70px;
  padding-top: 20px;
}